Source: libbpf
Section: libs
Priority: optional
Standards-Version: 4.5.0
Maintainer: Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
Homepage: https://github.com/sudipm-mukherjee/libbpf/tags
Vcs-Browser: https://github.com/alvistack/sudipm-mukherjee-libbpf
Vcs-Git: https://github.com/alvistack/sudipm-mukherjee-libbpf.git
Build-Depends:
 debhelper,
 debhelper-compat (= 10),
 libelf-dev,
 zlib1g-dev,
 pkg-config,

Package: libbpf-dev
Section: libdevel
Architecture: amd64
Description: eBPF helper library (development files)
 This package is needed to compile programs against libbpf.
Depends:
 ${misc:Depends},
 libbpf1 (= ${source:Version}),
 libelf-dev,
 zlib1g-dev,

Package: libbpf1
Architecture: amd64
Description: eBPF helper library (shared library)
 libbpf is a library for loading eBPF programs and reading and
 manipulating eBPF objects from user-space.
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
