#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_build:
	dh_auto_build -- LIBSUBDIR=lib/$(DEB_HOST_MULTIARCH)

override_dh_auto_install:
	dh_auto_install -- LIBSUBDIR=lib/$(DEB_HOST_MULTIARCH)

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@ --sourcedirectory=src
